css
.Header 
    {
      width: 100%;
      text-align: center;
    }
.image
    {
      width: 100%;
      text-align: center;
      padding-top: 20px;
    }

.head
    {
      width: 100%;
      text-align: center;
      font-family: Lucida Sans Unicode;
      font-size: 20px;
    }    

ul.topnav
{
  list-style-type: none;
  margin: 0;
  padding-left: 8%;
  overflow: hidden;
}
ul.topnav li {float: left;}

ul.topnav li a 
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-family: lato;
  font-stretch: expanded;
}
ul.topnav li a:hover:not(.active) {background-color: cyan;}

ul.topnav li a.active {background-color: cyan;}

ul.topnav li.right {float: right;}

@media  (max-width: 1080px)
{
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .search {display: none;}
    .container {float: none;}
    .prev, .next, .text {font-size: 11px}

  .column {
      width:40%;
      margin-top: 3%;
      margin-left: 6%;
      font-size: 0.625em;
    }
   
  }

 @media (max-width:576px) 
  {
    .column
    {
      width: 80%;
      margin-left: 9%;
      margin-top: 5%;
      
    }

   

  

 

